.credit {
  font-style: italic;
  font-size: 0.5em;
}
.inline-list li {
  list-style-type: none;
  display: inline-block;
}
.inline-list li + li::before {
  content: ' · ';
  font-weight: bold;
}
.iframe {
  border: 3px solid #666;
  margin-bottom: 5px;
  max-width: 100%;
}
.noborder {
  border: none !important;
}