.credit {
  font-style: italic;
  font-size: 0.5em;
}
.inline-list li {
  list-style-type: none;
  display: inline-block;
}
.inline-list li + li::before {
  content: ' · ';
  font-weight: bold;
}
